<body>


</body>
<div>
    <p></p>
    <h3>Изменить продукт</h3>
    <form novalidate ng-submit="updateStudent()">
        <input class="form-control" type="number" placeholder="ID" ng-model=student.id>
        <p></p>
        <input class="form-control" type="text" placeholder="Имя" ng-model="student.name">
        <p></p>
        <input class="form-control" type="number" placeholder="Возраст" ng-model="student.age">
        <p></p>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div>